@import '../../Scss/Variables';
@import '../../Scss/Mixins';

#notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;

  @media #{$normal} {
    @for $i from 1 through 15 {
      *:not(.notFoundCard):nth-child(#{$i}) { @include drop-in-animation($i * 0.1s); }
    }
  }

  .notFoundCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    box-shadow: $box-shadow--primary;
    border-radius: $border-radius--primary;
    @media #{$normal} { animation: hover-notfoundspec 2s infinite ease-in-out alternate; }

    a {
      @include button;
      @include paragraph;
      margin-top: 20px;
      font-weight: 700;
      padding: 10px 28px;
      width: 100%;
    }
  }
}